- accordion_id = "folder_#{folder.id}"
.card.folder-wrapper.mb-1
  .card-header
    %button(class="btn btn-link" type="button" data-toggle="collapse" data-target="##{accordion_id}" aria-expanded="true" aria-controls="collapseOne")
      = folder.name
    = link_to 'Edit', edit_folder_path(folder)
    = link_to 'Destroy', folder, method: :delete, data: { confirm: 'Are you sure?' }

  .collapse{id: accordion_id, class: folder.id == 1 ? "show" : ""}
    .card-body
      - if folder.children.any?
        .children-wrapper
          = render folder.children

      - if folder.files.attached?
        .attachments-wrapper
          = render partial: "folders/file", collection: folder.files, as: :file
